<div class="container">
  <div class="row">
    <p>
      <!-- Update accomodation button (only available in the case where the user is the owner) -->
      <% if current_user.id == @accomodation.user_id %>
      <%# if current_user.id == @accomodation.user.id %>
        <%= link_to "Update this accomodation", edit_user_accomodation_path(@user, @accomodation) , class: "btn btn-default btn-sm" %>
      <% end %>
    </p>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
        <% @accomodation.photos.each do |photo| %>
        <%= image_tag photo.picture.url(:medium), class:"img-thumbnail", width:"280px" %>
        <% end %>
      </div>
  </div>
</div>
<div class="container">
  <!-- TO DO: Remove <br><br> and replace with smart CSS -->
  <br><br>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-4">
      <!--  Owner description -->
      <div class="row">
        <div class="col-xs-11">
          <div class="card-block shadowed-box">
            <h3>About The Owner</h3>
            <p class="text-center">
              <%= image_tag(@owner.picture.url(:medium), class: "img-circle", height: "50") %>
              <br><%= "#{@owner.first_name} #{@owner.last_name}" %>
            </p>
            <p class="text-center">Ratings:
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>(1908)
            </p>
            <p class="text-center">
              <%= mail_to @owner.email, "Email-me", class: "btn btn-default btn-sm" %>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-11">
          <div class="card-block shadowed-box">
            <%= render "show_overview_box" %>
          </div>
        </div>
      </div>
    </div>
    <!-- Availabilities and booking -->
    <div class="col-xs-12 col-sm-5"><!-- Availabilities -->
      <div class="row">
        <div class="col-xs-11">
          <div class="card-block shadowed-box">
            <h3 class="text-center">Booked Dates</h3>
            <%= render "show_unavailable_dates" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-11">
          <div class="card-block shadowed-box">
            <h3 class="text-center">Book</h3>
            <%= render "show_booking_form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-9">
      <div class="row">
        <div class="col-xs-11">
          <div class="card-block shadowed-box">
            <h3>About This Listing</h3>
            <p>With Hair'Bnb, you can find hairy accommodations at hairy people's places. The listing details below explain what you'll find in this space. If you have any questions, you can contact the host directly.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-9">
      <div class="row">
        <div class="col-xs-11">
          <div class="card-block shadowed-box">
            <%= render "show_detailled_description" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-9">
      <div class="row">
        <div class="col-xs-11">
          <div class="card-block shadowed-box">
            <h3>Accomodation Reviews</h3>
            <%= render "show_accomodation_review_form" %>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- row -->
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 ">
      <div class="card-block shadowed-box">
        <div id="map" style="width: 100%; height: 300px;"></div>
      </div>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
 <%= javascript_tag do %>
   $(document).on('ready', function() {
     handler = Gmaps.build('Google');
     handler.buildMap({ internal: { id: 'map' } }, function(){
       markers = handler.addMarkers(<%= raw @markers.to_json %>);
       handler.bounds.extendWith(markers);
       handler.fitMapToBounds();
     });
   })
 <% end %>
<% end %>

