<div id="wrapper">
  <div id="left-container">
    <div id="presentation-box" class="card-block shadowed-box centered-text">
      <div class="desc-wrapper">
        <%= form_for(@user, html: { multipart: true }) do |f| %>
          <p>
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
          </p>
          <p>
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
          </p>
          <p>
          <%= f.label :email %>
          <%= f.text_field :email %>
          </p>
          <p>
          <%= f.label :description %>
          <%= f.text_field :description %>
          </p>
          <p>
          <p>
            <%= f.label :user_picture %>
            <%= f.file_field :user_picture %>
          </p>
          <p><%= f.submit %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div id="right-container">
  </div>
  </div>
</div>
