<p><%= "#{@booking.accomodation.description}" %></p>
<p><%= "Booking request from #{@booking.from.strftime("%F")} to #{@booking.to.strftime("%F")}" %></p>
<p>
  <%= "Confirmation status:"%>
  <% if @booking.accepted == false %>
    <%= "pending" %>
    <%= simple_form_for(@booking) do |f| %>
      <%= f.error_notification %>
      <%= f.input :accepted, label_html: { class: 'soften-label' }, label: 'Please accept or reject this booking request', wrapper_html: { class: 'inline-radio-buttons' }, as: :radio_buttons %>
      <%= f.button :submit, "Send your answer" %>
    <% end %>
  <% else %>
    <%= "accepted" %>
  <% end %>
</p>
